In [1]:
import pandas as pd
import sys
import os
sys.path.append('../tools')
import sqlalchemy as alch
import dotenv
import sqltools as st

In [2]:
dotenv.load_dotenv()

True

## Data load: TV show FRIENDS: SCRIPT

![](https://media4.giphy.com/media/Jzxgefavt2aB2/200.gif)

In [3]:
friends = pd.read_csv("../data/friends_quotes.csv",encoding = "utf-8")

In [4]:
friends.rename({"author":"character"}, axis=1, inplace=True)
friends.drop("quote_order",axis=1,inplace = True)

### Cleaning dataset

In [5]:
friends.quote = friends.quote.str.replace("","`",regex = True)
friends.quote = friends.quote.str.replace("'","`",regex = True)
friends.episode_title = friends.episode_title.str.replace("","`",regex = True)
friends.episode_title = friends.episode_title.str.replace("'","`",regex = True)

In [6]:
friends["episode_number"] = friends.episode_number.astype('int64')
friends["season"] = friends.season.astype('int64')
friends["character"] = friends.character.str.title()

In [7]:
dicc_friends ={"Mnca":"Monica",r"(Rach.?$)":"Rachel",r"(Chan.?$)":"Chandler",
              r"(Phoe.?$)":"Phoebe","Fat Monica":"Monica",
              "Joey/Drake":"Joey","Big Nosed Rachel":"Rachel",
               "Fat Joey":"Joey"              
              }

In [8]:
friends.character = friends.character.str.replace("Mnca","Monica")
friends.character = friends.character.str.replace(r"(Rach.?$)","Rachel",regex = True)
friends.character = friends.character.str.replace(r"(Chan.?$)","Chandler",regex = True)
friends.character = friends.character.str.replace(r"(Phoe.?$)","Phoebe",regex = True)
friends.character = friends.character.str.replace("Fat Monica","Monica",regex = True)
friends.character = friends.character.str.replace("Joey/Drake","Joey",regex = True)
friends.character = friends.character.str.replace("Big Nosed Rachel","Rachel",regex = True)
friends.character = friends.character.str.replace("Fat Joey","Joey",regex = True)

 - selection of the six principal characters and reduce it to a sample of 1000 lines

In [9]:
cuenta = friends.groupby("character").agg({"quote":"count"}).reset_index().sort_values("quote",ascending = False)[:6]

In [10]:
personajes = list(cuenta.character.values)

In [11]:
personajes

['Rachel', 'Ross', 'Monica', 'Chandler', 'Joey', 'Phoebe']

In [12]:
principales = friends.loc[friends['character'].isin(personajes)]

In [13]:
principales.to_csv("../data/principales.csv",index=False)

In [14]:
#muestra = principales.sample(1000)

In [15]:
#muestra.to_csv("../data/muestra.csv",index=False)

In [18]:
muestra.sample(5)

,character,episode_number,episode_title,quote,season
35228,Chandler,21,Ross Meets Elizabeth`s Dad,Hmm.,6
13712,Monica,9,The Football,Break!,3
6345,Ross,2,The Breast Milk,"Oh, you`ve tasted it.",2
51433,Rachel,10,Christmas In Tulsa,We are looking for our Christmas presents from...,9
26623,Phoebe,12,Chandler`s Work Laugh,Uh-hmm.,5

## Insert data in mysql

In [ ]:
col1 = "season"
col2 = "character"
col3 = "episode_title"
col4 = "quote"
col5 = "episode_number"
df = muestra
st.insertaciones(df,col1,col2,col3,col4,col5)