In [1]:
import pandas as pd
import sys
import os
sys.path.append('../tools')
import dataset as ds

In [2]:
friends = pd.read_csv("../data/friends_quotes.csv")

In [7]:
friends.head()

,author,episode_number,episode_title,quote,quote_order,season
0,Monica,1.0,Monica Gets A Roommate,There's nothing to tell! He's just some guy I ...,0.0,1.0
1,Joey,1.0,Monica Gets A Roommate,"C'mon, you're going out with the guy! There's ...",1.0,1.0
2,Chandler,1.0,Monica Gets A Roommate,"All right Joey, be nice. So does he have a hum...",2.0,1.0
3,Phoebe,1.0,Monica Gets A Roommate,"Wait, does he eat chalk?",3.0,1.0
4,Phoebe,1.0,Monica Gets A Roommate,"Just, 'cause, I don't want her to go through w...",4.0,1.0

In [14]:
friends["episode_number"] = friends.episode_number.astype('int64')
friends["quote_order"] = friends.episode_number.astype('int64')
friends["season"] = friends.episode_number.astype('int64')

In [35]:
friends.head()

,author,episode_number,episode_title,quote,quote_order,season
0,Monica,1,Monica Gets A Roommate,There's nothing to tell! He's just some guy I ...,1,1
1,Joey,1,Monica Gets A Roommate,"C'mon, you're going out with the guy! There's ...",1,1
2,Chandler,1,Monica Gets A Roommate,"All right Joey, be nice. So does he have a hum...",1,1
3,Phoebe,1,Monica Gets A Roommate,"Wait, does he eat chalk?",1,1
4,Phoebe,1,Monica Gets A Roommate,"Just, 'cause, I don't want her to go through w...",1,1

In [31]:
lista = friends.quote.unique()

In [32]:
length = []
for l in lista:
    length.append(len(l))

In [33]:
ordenados = sorted(length, reverse=True)

In [36]:
import sqlalchemy as alch
import os
import dotenv

dotenv.load_dotenv()

passw = os.getenv("pass_sql")
dbName = "friends"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)